# Local Postgres from docker-compose.yml
DATABASE_URL=postgres://owing:owing@localhost:5433/owing
# Used by the integration tests (created by docker/initdb on first start)
TEST_DATABASE_URL=postgres://owing:owing@localhost:5433/owing_test
